html {
	background-color: rgba(248,248,248,1);
}

header {
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: rgba(0,0,0,0.87);
}

header h1 {
	font-size: 10em;
	font-weight: bolder;
	line-height: 0.1em;
}

header a {
	font-size: 2em;
	margin: 0em 1em;
}

header a:visited, header a:link {
	color: rgba(0,0,0,0.56);
}

header a:hover {
	color: rgba(0,0,0,1);
	cursor: pointer;
}

body article.featured {
	display: block;
	width: 70vw;
	margin: 2em auto;
}