html {
	background-color: rgba(248,248,248,1);
}

header {
	font-family: Helvetica, sans-serif;
	text-align: left;
    padding: 20px;
    border-top: 3px solid #a51c30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(248, 248, 248, 1);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
}

body {
    margin: 0px;
    padding: 0px;
}

header .home { 
    font-size: 2em;
	font-weight: bolder;
	line-height: 0.1em;
    background: rgba(165,28,48,0.87);
    padding: 10px;
    border-radius: 100%;
}

h1 {
	font-size: 2em;
}

.home:visited, .home:link {
	color: rgba(255,255,255,0.87);
}

.home:hover {
	color: rgba(255,255,255,1);
    background: rgba(165,28,48,1);
    transition: 0.2s ease-in-out;
}

.home, .nav {
	text-decoration: none;
}

.nav {
	font-size: 2em;
    font-weight: bolder;
	margin: 0em 1em;
}

.nav:visited, .nav:link {
	color: rgba(0,0,0,0.87);
}

.nav:hover, .nav.active {
	color: rgba(165,28,48,1);
    transition: 0.2s ease-in-out;
	cursor: pointer;
}
.me {
    border-radius: 100%;
    width: 10em;    
    padding: 0em 2em;
    float: left;
}
.intro {
    line-height: 2em;
}
body article {
	display: block;
	width: 70vw;
	margin: 5.5em auto;
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: Helvetica, sans-serif;
}

body article code {
	background: rgba(230,230,230,1);
	padding: 4px;
	border-radius: 2px;
	border: 1px solid rgba(220,220,220,1);
}

body article blockquote {
	background: rgba(235,235,235,1);
	border-left: 5px solid rgba(100,100,100,1);
	padding: 10px;
	font-style: italic;
}

body article iframe {
	margin: 0px auto;
	text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.workList {
	text-align: center;
	list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.work {
	height: 1.5em;
	line-height: 1.5em;
	margin: 1em 0em;
    padding: 1em;
    width: 100%;
    border-radius: 0.5em;
    position: relative;
}

.work a {
    position: relative;
	color: rgba(0,0,0,0.87);
    border: transparent;
    border-top: 3px solid rgba(165,28,48,0.87);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
	font-size: 1.2em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    transition: 0.2s ease-in-out;
}

.work a:hover {
    border-left: 3px solid rgba(165,28,48,0.87);
    border-right: 3px solid rgba(165,28,48,0.87);
    border-bottom: 3px solid rgba(165,28,48,0.87);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.work a:hover + .date {
    margin-top: 29px;
}

.date {
    position: absolute;
	font-size: 0.6em;
	color: rgba(0,0,0,.56);
    margin-top: 30px;
    margin-left: -30px;
	padding: 0px 5px;
	border-radius: 3px;
	background-color: rgba(220,220,220,1);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
