html, body, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}
p, h1, h2, h3, a {
    opacity: 0.87;
}
html {
    background: #FFF;
    height: 100%;
}
body {
    height: 100%;
}
nav {
    text-align: center;
    width: 100%;
    margin: 1% 20% 0 0;
}
.navLink {
    font-family: Raleway;
    font-weight: 200;
    position: relative;
    display: inline-block;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.navLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #a60404;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
.activeLink{
    color: #a60404;
}
.activeLink:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.navLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.home {
    font-family: Raleway;
    font-weight: 200;
}

nav a {
    margin: 0px 10px 10px 10px;
    display: block;
    line-height: 64px;
    color: #111;
    text-decoration: none;
    text-align: center;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
nav a:hover {
    color: #a60404;
}
@media all and (min-width: 1500px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
        }
    h3 {
        font-size: 20px;
    }
    article {
        font-size: 20px;
    }
    nav a {
        font-size: 110px;
    }
    .navLink {
        font-size: 32px;
    }
    .articletitle {
        font-size: 28px;
    }
}
@media all and (max-width: 1500px) and (min-width: 1100px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 24px;
        }
    h3 {
        font-size: 20px;
    }
    article {
        font-size: 20px;
    }
    nav a {
        font-size: 96px;
    }
    .navLink {
        font-size: 28px;
    }
    .articletitle {
        font-size: 24px;
    }
}
@media all and (max-width: 1100px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    article {
        font-size: 18px;
    }
    nav a {
        font-size: 96px;
    }
    .navLink {
        font-size: 28px;
    }
    .articletitle {
        font-size: 20px;
    }
}
article {
    display: block;
    width: 60%;
    margin: 20px auto;
    text-align: justify;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #111;
}
article a {
    color: #111;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
article a:visited {
    color: #111;
}
article a:hover {
    color: #a60404;
}
article p {
    padding: 0px 0px 40px 0px;
    line-height: 150%;
}
article img {
    margin: 10px auto;
    display: block;
    box-shadow: 0px 0px 10px -4px black;
}
.profilePicture {
    width: 200px;
    float: left;
    border-radius: 100%;
    margin: 0px 10px;
}



.date {
    font-size: 0.7em;
}
.articleitem {
    list-style-type: none;
}
.featuretext {
    font-size: 0.85em;
}
.meta {
    list-style-image: url("writing/meta.png") !important;
}
.code {
    list-style-image: url("writing/code.png") !important;
}
.isu {
    list-style-image: url("writing/isu.png") !important;
}
.writing {
    list-style-image: url("writing/writing.png") !important;
}
.sort {
    font-family: Raleway, sans-serif;
}
blockquote {
    background: #FBFBFB;
    border-left: 3px solid #1079E8;
    padding: 15px;
    font-style: italic;
}
blockquote:hover {
    border-left: 5px solid #1079E8;
}
