html {
	background-color: rgba(248,248,248,1);
}

header {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

header h1 {
	font-size: 10em;
	font-weight: bolder;
	line-height: 0.1em;
}

.home:visited, .home:link {
	color: rgba(0,0,0,0.87);
}

.home:hover {
	color: rgba(0,0,0,1);
}

.home {
	text-decoration: none;
}

.nav {
	font-size: 2em;
	margin: 0em 1em;
}

.nav:visited, .nav:link {
	color: rgba(0,0,0,0.56);
}

.nav:hover, .nav.active {
	color: rgba(0,0,0,1);
	cursor: pointer;
}

body article.featured {
	display: block;
	width: 70vw;
	margin: 2em auto;
}